<!-- Contact Section -->
<section id="contact">
    <div class="contact container">
        <div class="service-top">
            <h1 class="section-title"><span>C</span>ontacto</h1>
            <br>
            <hr width=100% style="align-items: flex-start;" size=10 noshade="noshade">
            <br>
            <br>
        </div>
        <div class="contact-bottom">

            <div class="contact-item">
                <div class="card">
                    <div class="card-header">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14GgHv8PYkO5FeKMDxJFdyfl9VxsrPnPqYafVm2hT=s64-p-k-rw-no" alt="Profile Image" class="profile-img">
                    </div>

                    <div class="card-body">
                        <p class="name">Ing. Cesar Villacís</p>
                        <a href="mailto:cjvillacis@espe.edu.ec?Subject=Información%20de%20Aplicación%20CompGraf" class="mail">cjvillacis@espe.edu.ec</a>
                        <p class="job">Ingeriero en Sistemas</p>
                    </div>

                    <div class="social-links">
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                    </div>

                    <div class="card-footer">
                        <p class="count"> Docente </p>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <div class="card">
                    <div class="card-header">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14GhW2wQ0Di5dqqPzdbSoLLy3q7SGs-0i8aYNrBUD3w=s64-p-k-rw-no" alt="Profile Image" class="profile-img">
                    </div>

                    <div class="card-body">
                        <p class="name">Ing. Margarita Zambrano</p>
                        <a href="mailto:mezambrano@espe.edu.ec?Subject=Información%20de%20Aplicación%20CompGraf" class="mail">mezambrano@espe.edu.ec</a>
                        <p class="job">Ingeniera en Sistemas</p>
                    </div>

                    <div class="social-links">
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                    </div>

                    <div class="card-footer">
                        <p class="count"> Docente </p>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <div class="card">
                    <div class="card-header">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14GhXvK5UzqokvlDYgQ-WEeJpEga3zF80lZWRLaS1gg=s64-p-k-rw-no" alt="Profile Image" class="profile-img">
                    </div>
                    <div class="card-body">
                        <p class="name">Edwin Cuichan</p>
                        <a href="mailto:egcuichan@espe.edu.ec?Subject=Información%20de%20Aplicación%20CompGraf" class="mail">egcuichan@espe.edu.ec</a>
                        <p class="job">Estudiante de Ing. Sistemas</p>
                    </div>

                    <div class="social-links">
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                    </div>

                    <div class="card-footer">
                        <p class="count"> Estudiante</p>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <div class="card">
                    <div class="card-header">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14Gg_vhbM9VOGVAG-JMoQKNWntyEV5gVH0bzxcjbC=s64-p-k-rw-no" alt="Profile Image" class="profile-img">
                    </div>
                    <div class="card-body">
                        <p class="name">Kevin Sanipatín</p>
                        <a href="mailto:kisanipatin@espe.edu.ec?Subject=Información%20de%20Aplicación%20CompGraf" class="mail">kisanipatin@espe.edu.ec</a>
                        <p class="job">Estudiante de Ing. Sistemas</p>
                    </div>

                    <div class="social-links">
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                    </div>

                    <div class="card-footer">
                        <p class="count"> Estudiante </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
