<!-- Contact Section -->
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title"><br><br><span>C</span>ontactos<br><br></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/user.png" /></div>
                <div class="contact-info">
                    <h1>Ing. Cesar Villacis</h1>
                    <h2>De: <br>Quito - Ecuador</h2>
                    <h2>Telf: <br>(+593) 9877 44 808</h2>
                    <h2>Correo: <br> cjvillacis@espe.edu.ec</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/user.png" /></div>
                <div class="contact-info">
                    <h1>Edwin Cuichan</h1>
                    <h2>De: <br>Quito - Ecuador</h2>
                    <h2>Telf: <br>(+593) 9877 44 808</h2>
                    <h2>Correo: <br> egcuichan@espe.edu.ec</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/user.png" /></div>
                <div class="contact-info">
                    <h1>Kevin Sanipatín</h1>
                    <h2>De: <br>Quito - Ecuador</h2>
                    <h2>Telf: <br>(+593) 9877 44 808</h2>
                    <h2>Correo: <br> kisanipatin@espe.edu.ec</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->