<div style="margin: 50px;">
    <ng-container *ngIf="(asyncTabs | async) === null">
        Loading tabs...
    </ng-container>
    <table>
        <tr>
            <td>
                <h1> CAPÍTULO I: Figuras Geométricas </h1>
            </td>
            <td></td>
            <td>
                <a href="https://drive.google.com/uc?id=1dvC0teuoZEJA7V2oyqHyTSuObLv_QXTQ&export=download" download="Capitulo12021">
                    <mat-icon>cloud_download</mat-icon>Descargar Archivo Capítulo I
                </a>
            </td>
        </tr>
    </table>

    <mat-tab-group [selectedIndex]="selectedIndex.value" (selectedIndexChange)="selectedIndex.setValue($event)">
        <mat-tab label="Introducción">
            <ng-template matTabContent>
                <br>
                <h1>Introducción</h1>
                <p>La computación gráfica es una de las áreas de la informática visual, donde se utilizan las computadoras para generar imágenes o gráficos sintéticamente para integrar o cambiar la información visual y espacial del mundo real. La computación
                    gráfica se aplica en la creación de: motores gráficos, motores de videojuegos, modelamiento de objetos 2D y 3D, efectos especiales para películas, procesamiento de imágenes, procesamiento de video, visión por computadora, entre otros
                    (Shirley, P., Ashikhmin, M., 2009).
                </p>
                <p>El padre de la computación gráfica es el científico de la computación Ivan Sutherland. A Ivan Sutherland le tomó varios años desarrollar el Sketckpad que fue un programa informático creado en 1963 que permitía la manipulación directa de
                    objetos gráficos, así como la interacción persona-computadora y fue el predecesor de los programas de diseño asistido por computadora o computer-aided design (CAD). Ivan Sutherland recibió a lo largo de su vida recibió varios premios
                    y reconocimientos como el Premio Turing de la Asociación de Maquinaria Computacional, el cual es considerado el premio más importante en las ciencias de la computación, en 1988. En el 2012 recibió el Premio Kioto de Tecnología Avanzada
                    por “logros pioneros en el desarrollo de la computación gráfica e interfaces interactivas”. Además, este científico de la computación es miembro de Academia Nacional de Ingeniería de Estados Unidos, así como de la Academia Nacional
                    de Ciencias de Estados Unidos (Hughes, J.F., et al., 2013).</p>
                <p>La computación gráfica cubre conceptos y aspectos relacionados a las matemáticas, cálculo y geometría aplicada a la computación. En muchas aplicaciones se necesitan manejar puntos, líneas, figuras geométricas y polígonos para representar
                    objetos y modelos en 2D y 3D.</p>
                    <img src="./assets/images/Capitulos/I/media/image001.jpg" style="display:block; margin:auto; "><br>
                <h5><strong>Figura 1. </strong>Capítulo I.</h5><br>
            </ng-template>
        </mat-tab>
        <mat-tab label="Objetivos">
            <ng-template matTabContent>
                <br>
                <h1>Objetivos</h1>
                <ul>
                    <li>Revisar los principales conceptos en torno a algoritmos para la solución de problemas de gráficas por computadora, enfocados a figuras geométricas.</li>
                    <li>Entender cómo trabajan los algoritmos y las gráficas por computadora con el lenguaje C# en la construcción de programas, enfocados a figuras geométricas. </li>
                    <li>Aprender a crear algoritmos de gráficas por computadora en Pseudocódigo y en el lenguaje C#, enfocados a figuras geométricas.</li>
                    <li>Diseñar y crear programas con gráficas por computadora en el lenguaje C# y programación orientada a objetos con interfaces gráficas de usuario, enfocados a figuras geométricas.</li>
                    <li>Resolver casos de estudio y pracniques con algoritmos y programación orientada a objetos aplicados a los fundamentos de la Computación Gráfica.</li>
                </ul>
            </ng-template>
        </mat-tab>
        <mat-tab label="Teoría">
            <ng-template matTabContent>
                <br>
                <h1>1.1. Píxeles, Coordenadas y Figuras Geométricas</h1>
                <p>La forma más conveniente de especificar un segmento de línea en la pantalla de una computadora es proporcionando las coordenadas de sus dos puntos finales. En matemáticas, las coordenadas son números reales, pero las rutinas primitivas
                    de dibujo de líneas pueden requerir que sean enteros. Este es el caso, por ejemplo, en el lenguaje C#, que se utilizará a lo largo de este libro. El componente o subsistema GDI (Graphics Device Interface) trabaja junto con el núcleo
                    y la API de Windows (Steeb, W.H., Hardy, A., 2008). Esta interfaz de programación de aplicaciones se encarga del control gráfico de los dispositivos de salida, como los monitores o las impresoras. Las tareas más comunes de GDI son:</p>
                <ul>
                    <li>El dibujo de líneas, curvas, polígonos;</li>
                    <li>El relleno de cuadros, círculos, polígonos, etcétera;</li>
                    <li>Se encarga del renderizado de fuentes y textos;</li>
                    <li>Se encarga del manejo de paletas de colores.</li>
                </ul>
                <h2>Graficación de Líneas</h2>
                <p>El componente GDI proporciona la clase Graphics que contiene el método DrawLine, que se lo utiliza de la siguiente manera para dibujar el segmento de línea que conecta A y B:</p>
                <mathjax [content]='"$g.DrawLine\\left(xA, yA, xB, yB\\right);$"' class='box'></mathjax><br>
                <p>El contexto gráfico g delante del método normalmente se proporciona como un parámetro del método de dibujo en el programa, y los cuatro argumentos de DrawLine son enteros, que van desde cero hasta algún valor máximo (Ammeraal, L., Zhang,
                    K., 2017). La llamada anterior a DrawLine produce exactamente la misma salida en la pantalla que esta, donde se conecta B y A:</p>
                <mathjax [content]='"$g.DrawLine\\left(xB, yB, xA, yA\\right);$"' class='box'></mathjax><br>
                <img src="./assets/images/Capitulos/I/media/image2.png" style="display:block; margin:auto; "><br>
                <h5><strong>Figura 1.1. </strong>Dibujo de una línea a través de dos puntos.</h5><br>
                <h2>Graficación de Rectángulos</h2>
                <p>Para graficar un rectángulo se utiliza el contexto g con la función DrawRectangle, y se pueden utilizar cinco parámetros como son la pluma de dibujo, las coordenadas iniciales a partir de donde se grafica el rectángulo, el valor del ancho
                    y el largo del rectángulo (Ammeraal, L., Zhang, K., 2017).</p>
                <mathjax [content]='"$g.DrawRectangle\\left(Pen, 0, 0, Width, Height\\right);$"' class='box'></mathjax><br>
                <img src="./assets/images/Capitulos/I/media/image3.png" style="display:block; margin:auto; "><br>
                <h5><strong>Figura 1.2. </strong>Dibujo de un rectángulo.</h5><br>
                <h2>Graficación de Cuadrados</h2>
                <p>Para graficar un cuadrado se utiliza el contexto g con la función DrawRectangle, y se pueden utilizar cinco parámetros como son la pluma de dibujo, las coordenadas iniciales a partir de donde se grafica el cuadrado (Lengyel, E., 2011).
                    En este caso el valor del ancho y del largo son iguales, por lo que se coloca en ambos parámetros el valor del lado del cuadrado, puesto que el cuadrado es un caso especial del rectángulo.</p>
                <mathjax [content]='"$g.DrawRectangle\\left(Pen, 0, 0, Side, Side\\right);$"' class='box'></mathjax><br>
                <img src="./assets/images/Capitulos/I/media/image4.png" style="display:block; margin:auto; "><br>
                <h5><strong>Figura 1.3. </strong>Dibujo de un cuadrado a partir de un rectángulo.</h5><br>
                <h2>Graficación de Elipses</h2>
                <p>Para graficar una elipse se utiliza el contexto g con la función DrawEllipse, y se pueden utilizar cinco parámetros como son la pluma de dibujo, las coordenadas iniciales a partir de donde se grafica la elipse, el valor del ancho y el
                    largo de la elipse (Ammeraal, L., Zhang, K., 2017).</p>
                <mathjax [content]='"$g.DrawEllipse\\left(Pen, 0, 0, Width, Height\\right);$"' class='box'></mathjax><br>
                <img src="./assets/images/Capitulos/I/media/image5.png" style="display:block; margin:auto; "><br>
                <h5><strong>Figura 1.4. </strong>Dibujo de una elipse.</h5><br>
                <h2>Graficación de Círculos</h2>
                <p>Para graficar un círculo se utiliza el contexto g con la función DrawEllipse, y se pueden utilizar cinco parámetros como son la pluma de dibujo, las coordenadas iniciales a partir de donde se grafica el círculo (Lengyel, E., 2011). En
                    este caso el valor del ancho y del largo de la elipse son iguales y equivalentes al diámetro del círculo, por lo que se coloca en ambos parámetros el valor del diámetro del círculo, puesto que el círculo es un caso especial de la elipse.</p>
                <mathjax [content]='"$g.DrawEllipse\\left(Pen, 0, 0, Diameter, Diameter\\right);$"' class='box'></mathjax><br>
                <img src="./assets/images/Capitulos/I/media/image6.png" style="display:block; margin:auto; "><br>
                <h5><strong>Figura 1.5. </strong>Dibujo de un círculo a partir de una elipse.</h5><br>
                <h2>Ejes Coordenados por Pantalla</h2>
                <p>El eje de coordenadas por pantalla del mundo de la computación gráfica es un eje en el cual se conserva el eje positivo de las ‘x’ hacia la derecha tal y como el del mundo real, pero el eje positivo de las ‘y’ es hacia abajo, debido a
                    que el estándar de fabricación de los monitores y pantallas se basa en el movimiento de los electrones desde arriba hacia abajo y desde la izquierda hacia la derecha aplicando los principios de la energía potencial eléctrica, donde
                    el origen de coordenadas C(0,0) está en la esquina superior izquierda.</p>
                <img src="./assets/images/Capitulos/I/media/image7.png" style="display:block; margin:auto; width: 100%;"><br>
                <h5><strong>Figura 1.6. </strong>Eje de coordenadas del mundo real y del mundo de la Computación Gráfica. </h5><br>
                <br>
                <h1>1.2. Pinceles y Relleno de Figuras en GDI+</h1>
                <p>La interfaz de programación de aplicaciones GDI+, proporciona una serie de clases de pincel (brush) para rellenar los interiores de figuras geométricas cerradas como: círculos, elipses, rectángulos, cuadrados, triángulos y polígonos. Una
                    figura cerrada consta de un entorno (outline) y un interior, donde el contorno se dibuja con un bolígrafo (pen) y el interior se rellena con un pincel (brush). Para el relleno de figuras cerradas se pueden utilizar las clases: SolidBrush,
                    HatchBrush, TextureBrush, LinearGradientBrush y PathGradientBrush, donde todas estas clases se derivan de la clase Brush (Steeb, W.H., Hardy, A., 2008). La Figura 1.7 muestra un rectángulo relleno con un pincel sólido y una elipse
                    rellena con un pincel de sombreado.</p>
                <img src="./assets/images/Capitulos/I/media/image008.gif" style="display:block; margin:auto;"><br>
                <h5><strong>Figura 1.7. </strong>Rectángulo relleno y elipse rellena.</h5><br>
                <p>Una figura cerrada, como un rectángulo o una elipse, consta de un contorno y un interior. El contorno se dibuja con un bolígrafo (pen) y el interior se rellena con un pincel (brush). GDI+ proporciona varias clases de pincel para rellenar
                    los interiores de formas cerradas: SolidBrush, HatchBrush, TextureBrush, LinearGradientBrush y PathGradientBrush. Todas estas clases heredan de la clase Brush. La siguiente ilustración muestra un rectángulo relleno con un pincel sólido
                    y una elipse rellena con un pincel de sombreado.</p>
                <h2>Pinceles Sólidos (Solid Brushes)</h2>
                <p>Para rellenar una figura geométrica cerrada se debe utilizar un objeto de la clase Graphics y un pincel de la clase Brush. El objeto de la clase Graphics proporciona métodos como: FillRectangle, FillEllipse y FillPolygon (Steeb, W.H.,
                    Hardy, A., 2008). El objeto de la clase Brush almacena los atributos del relleno como el color. El objeto pincel (brush) se envía como uno de los argumentos a los parámetros de la función: FillRectangle, FillEllipse y FillPolygon.
                    El siguiente código de ejemplo muestra cómo rellenar un rectángulo con un color azul sólido:</p>
                <pre *ngFor="let formula of introduccion"><code [highlight]="formula.f1" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>
                <h2>Pinceles de Sombreado o de Escotilla (Hatch Brushes)</h2>
                <p>Para rellenar una figura geométrica con un pincel de sombreado, se debe especificar un color de primer plano, un color de fondo y un estilo de sombreado, donde el color de primer plano es el color de la trama (hatching). La interfaz de
                    programación de aplicaciones GDI+, proporciona más de 50 estilos de sombreado (Steeb, W.H., Hardy, A., 2008). Un código de ejemplo se muestra a continuación con un estilo de sombreado Vertical:</p>
                <pre *ngFor="let formula of introduccion"><code [highlight]="formula.f2" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>
                <p>La Figura 1.8 muestra tres ejemplos de pinceles de sombreado: Horizontal, Diagonal hacia adelante (ForwardDiagonal) y Cruz (Cross).</p>
                <img src="./assets/images/Capitulos/I/media/image009.gif" style="display:block; margin:auto;"><br>
                <h5><strong>Figura 1.8. </strong>Ejemplos de pinceles de sombreado.</h5><br>
                <h2>Pinceles de Textura (Texture Brushes)</h2>
                <p>Para rellenar una figura geométrica con una textura almacenada en un mapa de bits (bitmap), se puede utilizar un pincel de textura (Steeb, W.H., Hardy, A., 2008). Así, por ejemplo, si se tiene una imagen almacenada en un archivo en el
                    disco duro llamado MyTexture.bmp, se puede asignar a una elipse un relleno con esta imagen. El siguiente código de ejemplo muestra lo expuesto:</p>
                <pre *ngFor="let formula of introduccion"><code [highlight]="formula.f3" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>
                <p>La Figura 1.9 muestra la elipse rellena con una imagen de un archivo de mapa de bits.</p>
                <table>
                    <tr>
                        <td>
                            <img src="./assets/images/Capitulos/I/media/image010.gif" style="display:block; margin:auto; width: 45%;"><br>
                            <h5><strong>a) </strong>Imagen MyTexture.bmp</h5><br>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <img src="./assets/images/Capitulos/I/media/image011.gif" style="display:block; margin:auto;"><br>
                            <h5><strong>b) </strong>Elipse rellena con una imagen</h5><br>
                        </td>
                    </tr>
                </table>
                <h5><strong>Figura 1.9. </strong>Ejemplo de relleno de una elipse con una imagen.</h5><br>
                <h2>Pinceles de Degradado (Gradient Brushes)</h2>
                <p>Para rellenar una figura geométrica con un pincel de degradado, se debe especificar un primer color de plano que cambia gradualmente a un segundo color de plano a medida que se mueve a lo largo de la figura geométrica de manera horizontal,
                    vertical o diagonalmente (Steeb, W.H., Hardy, A., 2008). La interfaz de programación de aplicaciones GDI+, proporciona dos tipos de pinceles de degradado que son el lineal y el de ruta. El siguiente código de ejemplo muestra cómo rellenar
                    una elipse con un pincel de degradado horizontal que cambia de azul a verde a medida que se mueve desde el borde izquierdo de la elipse al borde derecho.</p>
                <pre *ngFor="let formula of introduccion"><code [highlight]="formula.f4" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>
                <p>La Figura 1.10 muestra la elipse rellena con un pincel de degradado.</p>
                <img src="./assets/images/Capitulos/I/media/image012.gif" style="display:block; margin:auto;"><br>
                <h5><strong>Figura 1.10. </strong>Ejemplo de relleno de una elipse con un pincel de degradado.</h5><br>
                <h2>Relleno de un Polígono (Fill Polygon)</h2>
                <p>Para rellenar un polígono se debe cumplir con los siguientes pasos: 1) Crear un objeto de tipo pincel (brush) con un color de relleno; 2) Crear un arreglo de puntos (Point/PointF) para definir un polígono; 3) Rellenar el área poligonal
                    correspondiente al polígono pintado en la pantalla, utilizando la función FillPolygon (Steeb, W.H., Hardy, A., 2008). El siguiente código de ejemplo está diseñado para su uso con Windows Forms y requiere un objeto ‘e’ de tipo PaintEventArgs,
                    que es un parámetro del controlador del evento Paint.</p>
                <pre *ngFor="let formula of introduccion"><code [highlight]="formula.f5" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>

            </ng-template>
        </mat-tab>
        <mat-tab label="Video Tutorial">
            <ng-template matTabContent>
                <h2> VIDEO 1:</h2>
                <div class="video-responsive">
                    <div class="video-responsive">
                        <video controls preload="auto">
                            <source src="https://drive.google.com/uc?export=download&id=1LfFmOuv6IU1iljEnHWSBPaFCOCUkAAEO#t=1" type="video/mp4" />
                                Tu navegador no soporta HTML5 Video
                            </video>
                    </div>
                </div>
                <br>
                <h2> VIDEO 2:</h2>
                <div class="video-responsive">
                    <iframe src="https://www.youtube.com/embed/YqnAsdtdK5Q" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br>
                <h2> VIDEO 3:</h2>

                <div class="video-responsive">
                    <video controls preload="auto">
                            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4#t=2" type="video/mp4" />
                            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm#t=2" type="video/webm" />
                            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv#t=2" type="video/ogg" />
                            Tu navegador no soporta HTML5 Video
                        </video>
                </div>
                <br>
            </ng-template> 
        </mat-tab>

        <mat-tab label="Casos de Estudio">
            <ng-template matTabContent>
                <mat-tab-group>
                    <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
                    <mat-tab *ngFor="let tab of prefTabs" label="{{tab.label}}">
                        <br>
                        <h2>{{tab.title}}</h2>
                        <a href="{{tab.link}}" download="ProgramaCasos">
                            <mat-icon>save_alt</mat-icon><strong>Descargar {{tab.label}} CompGraf.zip</strong>
                        </a>
                        <br><br>
                        <h3><strong>A)   Problema</strong></h3>
                        <p>{{tab.problema}}</p>
                        <ul *ngFor="let item of tab.formulaA">
                            <li>
                                <mathjax [content]=item class='box'></mathjax>
                            </li>
                        </ul>
                        <img src="{{tab.imagenCaso5}}" style="display:block; margin:auto; width: 75%;"><br>
                        <img src="{{tab.imagen1}}" style="display:block; margin:auto; "><br>
                        <h5><strong>{{tab.figuraNum1}}</strong>{{tab.figura1}}</h5><br>
                        <h3><strong>B)   Análisis</strong></h3>
                        <p>{{tab.analisis}}</p>
                        <h4><strong>B.1)   Requerimiento de los Datos</strong></h4>
                        <table>
                            <tbody *ngFor="let item of tab.requerimientosDatos">
                                <tr>
                                    <h4><strong>{{item.t}}</strong></h4>
                                    <td>
                                        <mathjax [content]=item.a class='box'></mathjax>
                                    </td>
                                    <td>
                                        <mathjax [content]=item.b class='box'></mathjax>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4><strong>B.2) Diagrama de Entrada-Salida</strong></h4>
                        <p>{{tab.diagramaES}}</p>
                        <img src="{{tab.imagen2}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum2}}</strong>{{tab.figura2}}</h5><br>
                        <h4><strong>B.3) Diagrama de Clases</strong></h4>
                        <p>{{tab.diagramaC1}}</p>
                        <p>{{tab.diagramaC2}}</p>
                        <img src="{{tab.imagen3}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum3}}</strong>{{tab.figura3}}</h5><br>
                        <h3><strong>C)   Diseño</strong></h3>
                        <p>{{tab.diseno}}</p>
                        <ul *ngFor="let item of tab.algoritmos">
                            <h4><strong>{{item.t}}</strong></h4>
                            <p>{{item.a}}</p>
                            <p>{{item.b}}</p>
                            <p>{{item.c}}</p>
                            <p>{{item.d}}</p>
                            <p>{{item.e}}</p>
                            <p>{{item.f}}</p>
                            <p>{{item.g}}</p>
                            <p>{{item.h}}</p>
                            <p>{{item.i}}</p>
                            <p>{{item.j}}</p>
                            <p>{{item.k}}</p>
                        </ul>
                        <h3><strong>{{tab.tituloGeometria}}</strong></h3>
                        <ul *ngFor="let item of tab.geometria">
                            <ul *ngFor="let x of item.p">
                                <h4><strong>{{x.t}}</strong></h4>
                                <p>{{x.d}}</p>
                                <ul *ngFor="let itemFotos of x.i">
                                    <img src="{{itemFotos.path}}" style="display:block; margin:auto;"><br>
                                    <h5><strong>{{itemFotos.titulo}}</strong>{{itemFotos.descriptitulo}}</h5><br>
                                </ul>
                            </ul>
                            <ul *ngFor="let x of item.s">
                                <h4><strong>{{x.t}}</strong></h4>
                                <ul *ngFor="let itemPasos of x.pasos">
                                    <p>{{itemPasos.d}}</p>
                                    <ul *ngFor="let k of itemPasos.formulas">
                                        <mathjax [content]=k class='box'></mathjax><br>
                                    </ul>
                                </ul>
                            </ul>
                        </ul>
                        <h3><strong>D)   Implementación</strong></h3>
                        <p>{{tab.implementacion1}}</p>
                        <p>{{tab.implementacion2}}</p>
                        <img src="{{tab.imagen4}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum4}}</strong>{{tab.figura4}}</h5><br>
                        <p>{{tab.implementacion3}}</p>
                        <img src="{{tab.imagen5}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum5}}</strong>{{tab.figura5}}</h5><br>
                        <p>{{tab.implementacion4}}</p>
                        <img src="{{tab.imagen6}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum6}}</strong>{{tab.figura6}}</h5><br>
                        <p>{{tab.implementacion5}}</p>
                        <img src="{{tab.imagen7}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum7}}</strong>{{tab.figura7}}</h5><br>
                        <p>{{tab.implementacion6}}</p>
                        <img src="{{tab.imagen8}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum8}}</strong>{{tab.figura8}}</h5><br>
                        <p>{{tab.implementacion7}}</p>
                        <img src="{{tab.imagen9}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum9}}</strong>{{tab.figura9}}</h5><br>
                        <p>{{tab.implementacion8}}</p>
                        <h5><strong>{{tab.tabla1}}</strong>{{tab.tabladetalle1}}</h5><br>
                        <TABLE BORDER WIDTH="100%" CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
                            <TR>
                                <TH>Objeto</TH>
                                <TH>Propiedad</TH>
                                <TH>Valor</TH>
                            </TR>
                            <tbody *ngFor="let item of tab.tablaDatos1">
                                <TR ALIGN=center>
                                    <TD>
                                        <mathjax [content]=item.Objeto class='box'></mathjax>

                                    </TD>
                                    <TD>
                                        <ul *ngFor="let i of item.Propiedad" style="list-style-type: none;">
                                            <li>{{i}}</li>
                                        </ul>
                                    </TD>
                                    <TD>
                                        <ul *ngFor="let i of item.Valor" style="list-style-type: none;">
                                            <li>{{i}}</li>
                                        </ul>
                                    </TD>
                                </TR>
                            </tbody>
                        </TABLE><br>
                        <p>{{tab.implementacion9}}</p>
                        <img src="{{tab.imagen10}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum10}}</strong>{{tab.figura10}}</h5><br>
                        <p>{{tab.implementacion10}}</p>
                        <p>{{tab.implementacion11}}</p>
                        <p>{{tab.implementacion12}}</p>
                        <ul *ngFor="let item of tab.metodos">
                            <h4><strong>{{item.t}}</strong></h4>
                            <p>{{item.a}}</p>
                            <pre><code [highlight]="item.b" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        </ul>
                        <h4><strong>Tips de Programación...</strong>
                            <mat-icon>wb_incandescent</mat-icon>
                            <mat-icon>laptop_windows</mat-icon>
                        </h4>
                        <hr>
                        <ul *ngFor="let item of tab.tipsProgramacion">
                            <p>
                                <mat-icon>check_circle_outline</mat-icon>{{item.tip}}
                            </p>
                        </ul>
                        <hr>
                        <p>{{tab.implementacion13}}</p>
                        <h5><strong>{{tab.tabla2}}</strong>{{tab.tabladetalle2}}</h5><br>
                        <pre><code [highlight]="tab.tablaDatos2" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <p>{{tab.implementacion13}}</p>
                        <h5><strong>{{tab.tabla3}}</strong>{{tab.tabladetalle3}}</h5><br>
                        <pre><code [highlight]="tab.tablaDatos3" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <br>
                        <p>{{tab.implementacion15}}</p>
                        <p>{{tab.implementacion16}}</p>
                        <p>{{tab.implementacion17}}</p>
                        <img src="{{tab.imagen11}}" style="display:block; margin:auto; "><br>
                        <h5><strong>{{tab.figuraNum11}}</strong>{{tab.figura11}}</h5><br>
                        <img src="{{tab.imagen12}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum12}}</strong>{{tab.figura12}}</h5><br>
                        <h3><strong>E)   Pruebas</strong></h3>
                        <p>{{tab.implementacion18}}</p>
                        <img src="{{tab.imagen13}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.figuraNum13}}</strong>{{tab.figura13}}</h5><br>

                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-tab>
        <mat-tab label="Casos Propustos">
            <ng-template matTabContent>
                <mat-tab-group>
                    <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
                    <mat-tab *ngFor="let tab of casosPropuesto" label="{{tab.label}}">
                        <br>
                        <table>
                            <tr>
                                <td>
                                    <h2 style="color:green;"><strong>{{tab.tituloN}}</strong></h2>
                                </td>
                                <td>
                                    <h2>{{tab.titulo}}</h2>
                                </td>
                            </tr>
                        </table>
                        <h3><strong>{{tab.subtitulo}}</strong></h3>
                        <p>{{tab.problema}}</p>
                        <p>{{tab.tareaDescrip}}</p>
                        <ul *ngFor="let item of tab.tareas">
                            <p>{{item.tarea}}</p>
                        </ul>
                        <img src="{{tab.fotoPath}}" style="display:block; margin:auto; width: 50%;"><br>
                        <h5><strong>{{tab.fotoN}}</strong>{{tab.fotoDescrip}}</h5><br>
                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-tab>
        <mat-tab label="Praqniques">
            <ng-template matTabContent>
                <mat-tab-group>
                    <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
                    <mat-tab *ngFor="let tab of praqnique" label="{{tab.label}}">
                        <br>
                        <table>
                            <tr>
                                <td>
                                    <h2 style="color:green;"><strong>{{tab.tituloN}}</strong></h2>
                                </td>
                                <td>
                                    <h2>{{tab.titulo}}</h2>
                                </td>
                            </tr>
                        </table>
                        <TABLE BORDER WIDTH="100%" CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
                            <TR>
                                <TABLE>
                                    <TR><strong>SINOPSIS</strong></TR>
                                    <TR>{{tab.sinopsisDescrip}}</TR>
                                </TABLE>
                            </TR>
                            <TR>
                                <TABLE BORDER WIDTH="100%" CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
                                    <TR *ngFor="let item of tab.sinopsis">
                                        <TD><strong>{{item.titulo}}</strong>{{item.descrip}}</TD>
                                    </TR>
                                </TABLE>
                            </TR>
                        </TABLE><br>
                        <a href="{{tab.link}}" download="ProgramaPraqnique">
                            <mat-icon>save_alt</mat-icon><strong>Descargar {{tab.tituloN}} PraqniqueCompGraf.zip</strong>
                        </a>
                        <br><br>
                        <h3><strong>{{tab.A.subtitulo}}</strong></h3>
                        <p>{{tab.A.problema}}</p>
                        <img src="{{tab.A.fotoPath}}" style="display:block; margin:auto; width: 50%;"><br>
                        <h5><strong>{{tab.A.fotoN}}</strong>{{tab.A.fotoDescrip}}</h5><br>
                        <h3><strong>{{tab.B.subtitulo}}</strong></h3>
                        <p>{{tab.B.problema}}</p>
                        <img src="{{tab.B.fotoPath}}" style="display:block; margin:auto; width: 50%;"><br>
                        <h5><strong>{{tab.B.fotoN}}</strong>{{tab.B.fotoDescrip}}</h5><br>
                        <ul *ngFor="let itemPasos of tab.B.listaB">
                            <p>{{itemPasos.parrafo}}</p>
                            <TABLE BORDER CELLPADDING=1 CELLSPACING=0 class="mat-elevation-z8">
                                <TR *ngFor="let t of itemPasos.tabla">
                                    <TD><img src="{{t.fotoPath}}" style="display:block; margin:auto; "></TD>
                                    <TD>
                                        <ul *ngFor="let f of t.formulas">
                                            <mathjax [content]=f class='box'></mathjax><br>
                                        </ul>
                                    </TD>
                                </TR>
                            </TABLE>
                            <h4><strong>{{itemPasos.teorema}}</strong></h4>
                            <ul *ngFor="let k of itemPasos.formulas">
                                <mathjax [content]=k class='box'></mathjax><br>
                            </ul>
                        </ul>
                        <h3><strong>{{tab.C.subtitulo}}</strong></h3>
                        <dl *ngFor="let itemAlgoritmos of tab.C.algoritmosC">
                            <dt>{{itemAlgoritmos.titulo}}</dt>
                            <dd>
                                <ol *ngFor="let p of itemAlgoritmos.pasos; index as i">
                                    <li value="{{i+1}}">{{p}}</li>
                                </ol>
                                <ol *ngFor="let p of itemAlgoritmos.pasosFormulas; index as i">
                                    <li value="{{i+1}}">{{p}}</li>
                                </ol>
                            </dd>
                        </dl>
                        <h3><strong>{{tab.D.subtitulo}}</strong></h3>
                        <div *ngFor="let itemCodigos of tab.D.listaCodigo">
                            <p>{{itemCodigos.problema}}</p>
                            <h5><strong>{{itemCodigos.tablaN}}</strong>{{itemCodigos.tablaDescrip}}</h5><br>
                            <pre><code [highlight]="itemCodigos.tablaDatos" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre><br>
                        </div>
                        <h3><strong>{{tab.E.subtitulo}}</strong></h3>
                        <p>{{tab.E.problema}}</p>
                        <img src="{{tab.E.fotoPath}}" style="display:block; margin:auto; width: 75%;"><br>
                        <h5><strong>{{tab.E.fotoN}}</strong>{{tab.E.fotoDescrip}}</h5><br>
                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-tab>
        <mat-tab label="Praqniques Propuestos">
            <ng-template matTabContent>
                <mat-tab-group>
                    <!-- <mat-tab *ngFor="let tab of asyncTabs | async"> -->
                    <mat-tab *ngFor="let tab of praqniquePropuesto" label="{{tab.label}}">
                        <br>
                        <table>
                            <tr>
                                <td>
                                    <h2 style="color:green;"><strong>{{tab.tituloN}}</strong></h2>
                                </td>
                                <td>
                                    <h2>{{tab.titulo}}</h2>
                                </td>
                            </tr>
                        </table>
                        <h3><strong>{{tab.subtitulo}}</strong></h3>
                        <p>{{tab.problema}}</p>
                        <img src="{{tab.fotoPath}}" style="display:block; margin:auto; width: 50%;"><br>
                        <h5><strong>{{tab.fotoN}}</strong>{{tab.fotoDescrip}}</h5><br>
                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-tab>
        <mat-tab label="Evaluación">
            <ng-template matTabContent>
                <div class="Evaluacion">
                    <app-quiz [propagarNumCapitulo]="num_capitulo"></app-quiz>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Juegos">
            <ng-template matTabContent>
                <div class="Snake">
                    <app-snake></app-snake>
                </div>
            </ng-template>

        </mat-tab>
        <mat-tab label="Resumen">
            <ng-template matTabContent>
                <br>
                <h1>Resumen</h1>
                <ul>
                    <li>El componente o subsistema GDI (Graphics Device Interface) trabaja junto con el núcleo y la API de Windows.</li>
                    <li>Las tareas más comunes de GDI son: a) El dibujo de líneas, curvas, polígonos; b) El relleno de cuadros, círculos, polígonos, etcétera; c) Se encarga del renderizado de fuentes y textos; d) Se encarga del manejo de paletas de colores.</li>
                    <li>La clase Graphics contiene el método DrawLine para dibujar líneas.</li>
                    <li>La clase Graphics contiene el método DrawRectangle para dibujar rectángulos y cuadrados.</li>
                    <li>La clase Graphics contiene el método DrawEllipse para dibujar elipses y círculos.</li>
                    <li>En el mundo de la Computación Gráfica, se utiliza un eje de coordenadas donde eje positivo de las ‘x’ va hacia la derecha y el eje positivo de las ‘y’ va hacia abajo.</li>
                    <li>GDI+, proporciona una serie de clases de pincel (brush) para rellenar los interiores de figuras geométricas cerradas como: círculos, elipses, rectángulos, cuadrados, triángulos y polígonos.</li>
                    <li>Para el relleno de figuras cerradas se pueden utilizar las clases: SolidBrush, HatchBrush, TextureBrush, LinearGradientBrush y PathGradientBrush, donde todas estas clases se derivan de la clase Brush.</li>
                    <li>La clase Graphics contiene el método FillPolygon para rellenar polígonos, dados sus vértices como puntos de tipo Point/PointF.</li>
                </ul>
            </ng-template>
        </mat-tab>
        <mat-tab label="Bibliografía">
            <ng-template matTabContent>
                <br>
                <h1>Bibliografía</h1>
                <ul>
                    <li>Ammeraal, L., Zhang, K., 2017. Computer Graphics for Java Programmers. Springer. Third Edition.</li>
                    <li>Shirley, P., Ashikhmin, M., 2009. Fundamentals of Computer Graphics. AK Peters/CRC Press. Third Edition.</li>
                    <li>Hughes, J.F., Van Damm, Andries, McGuire, M., 2013. Computer Graphics: Principles and Practice. Addison-Wesley Professional. Third Edition.</li>
                    <li>Lengyel, E., 2011. Mathematics for 3D Game Programming and Computer Graphics. Charles River Media. Third Edition.</li>
                    <li>Steeb, W.H., Hardy, A., 2008. Mathematical Tools in Computer Graphics with C# Implementations. World Scientific Pub. Co. Inc. First Edition.</li>
                </ul>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <button mat-button (click)="selectTabNext()" *ngIf="positionCurrentNext">{{titleNext}} <mat-icon>navigate_next</mat-icon></button>
    <button mat-button (click)="selectTabBefore()" *ngIf="positionCurrentBefore"><mat-icon>navigate_before</mat-icon> Atras  &nbsp; &nbsp; &nbsp;&nbsp;</button>

</div>