<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>C</span>omp<span>G</span>raf</h1>
        </div>
        <h3 style="align-content: center; text-align: center;">Aplicación Multimedia Educativa</h3>

        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
            </div>
        </div>
        <h4>Copyright © 2021</h4>
        <h4> Cesar Villacís - Margarita Zambrano</h4>
        <h4> Edwin Cuichan - Kevin Sanipatín </h4>
        <h4> All rights reserved</h4>
    </div>
</section>