<!-- About Section -->
<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title"><span>C</span>omp<span>G</span>raf</h1>
            <br>
            <hr>
            <p>CompGraf es una Aplicación Multimedia Eucativa orientada a la web, cuyo objetivo es contribuir al proceso de enseñanza-aprendizaje de los estudiantes que toman la asignatura de Computación Gráfica.</p>
            <p>Esta Aplicación Web contiene 3 capitulos de gran importancia, los cuales son: </p>
            <hr>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="./assets/images/principal/g_a.gif" style="border-radius: 30%;" /></div>
                <h2>Figuras Geométricas <br></h2>
                <p>Una figura geométrica es la representación visual y funcional de un conjunto no vacío y cerrado de puntos en un plano geométrico. Es decir, figuras que delimitan superficies planas a través de un conjunto de líneas (lados) que unen sus puntos de un modo específico.</p>                
            </div>
            <div class="service-item">
                <div class="icon"><img src="./assets/images/principal/p_g.gif" style="border-radius: 30%;" /></div>
                <h2>Geometría Aplicada</h2>
                <p>La geometría es una rama de las matemáticas muy importante debido a que permite enseñar y aprender el arte de razonar, porque es abstracta pero fácil de visualizar, y tiene muchas aplicaciones concretas.</p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="./assets/images/principal/frac.gif" style="border-radius: 30%;" /></div>
                <h2>Open GL <br></h2>
                <p>OpenGL, abreviatura de "Open Graphics Library", es una interfaz de programación de aplicaciones diseñado para representación 2D y 3D gráficos. Proporciona un conjunto común de comandos que se pueden usar para administrar gráficos en diferentes aplicaciones y en múltiples plataformas.</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->