<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <div class="brand">
        <h1><span>{{app_name1}}</span>{{app_name2}}<span>{{app_name3}}</span>{{app_name4}}</h1>
    </div>
    <ul style="margin-left:auto; margin-right:0;">
        <table>
            <tr>
                <td>
                    <div class="menu-buttonToolbar searchBox">
                        <input class="menu-buttonToolbar  searchInput" style="background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);;
                        color: white;" type="text" name="" placeholder="Buscar">
                        <button class="menu-buttonToolbar searchButton">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </td>
                <td>
                    <button class="menu-buttonToolbar" *ngIf="true" (click)="onLogout()">
                        <mat-icon>power_settings_new</mat-icon>            
                    </button>
                </td>
            </tr>
        </table>
    </ul>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" style="    padding-top: 50px;">
        <div *ngIf="true">
            <img class="avatar mat-elevation-z8" src="{{pruebaphoto}}" />
            <h5 class="name">{{pruebanombre}}</h5>
            <h4 class="name">{{pruebatype}}</h4>
            <h4 class="name">{{pruebaemail}}</h4>
        </div>
        <!--    <div *ngIf="!isLogged">
            <img class="avatar mat-elevation-z8" src="https://d1bvpoagx8hqbg.cloudfront.net/259/2347b61ae2c02d0f2b100474e2c29f71.jpg" />
            <h4 class="name">Inicia Sesión</h4>
            <p class="designation"></p>
        </div>-->
        <div>
            <table>
                <tr>
                    <td>
                        <button class="menu-buttonToolbar" *ngIf="true" (click)="onClick($event)">
                        <a style="text-decoration: none;" class="menu-buttonToolbar" id="MyRef1"><mat-icon>home</mat-icon>Mi Espe</a>           
                        </button>
                    </td>
                    <td>
                        <button class="menu-buttonToolbar" *ngIf="true">
                            <a style="text-decoration: none;" class="menu-buttonToolbar"><mat-icon>info</mat-icon><app-help></app-help></a>            
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list *ngIf="isLogged">
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
        </mat-nav-list>


        <mat-nav-list *ngIf="isAdmin">
            <app-menu-list-item *ngFor="let item of navItemsAdmin" [item]="item"></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-popup-email></app-popup-email>