mat-toolbar {
    /*background: #004a9f;*/
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    height: 8%;
    position: fixed;
    z-index: 999;
    width: 100%;
}

mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    /*    background: #002b5c;*/
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

mat-sidenav-container {
    height: calc(100vh - 20px);
    padding-top: 20px;
    /*espacio entre el navbar y el contenido*/
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    /*    background-color: #002b5c;*/
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-icon-button {
    /*    background-color: #002b5c;*/
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

.menu-buttonToolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    background-color: #535353;
    /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
    color: white;
    float: right;
    border-radius: 50px;
}

.menu-buttonToolbar:hover {
    background-color: cadetblue;
    color: white;
}


/***/

.searchBox {
    height: 10px;
    padding: 10px;
}

.searchBox:hover>.searchInput {
    width: 140px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    height: 30px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        position: fixed;
        width: 140px;
        padding: 0 6px;
        /*       background-color: #002b5c;*/
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        color: white;
    }
    .searchInput {
        transform: translate(-69%, 40px);
        top: 10px;
        position: fixed;
    }
}


/***/

@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
.brand h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.brand h1 span {
    color: crimson;
}


/***********/