<div>
    <main class='container'>
        <article class='content'>
            <img src="./assets/images/home/build.png" />
            <p><strong>Página web en construcción</strong></p>
            <div style="padding-left: 10%; padding-right: 10%;">
                <p>Lo sentimos, no hemos encontrado un mensaje más original para decirte que estamos trabajando en ello.</p>
            </div>
            <h2>Web disponible en:</h2>
            <section>
                <div class="coming-soon">
                    <div class="time-countdown">
                        <ul>
                            <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
                            <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
                            <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                            <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
    </main>
</div>