<!-- Gallery Section -->
<section id="gallery">
    <div class="gallery container">
        <div class="service-top">
            <br><br><br><br>
            <h1 class="section-title"><span>G</span>alería</h1>
            <br>
            <hr width=45%  style="align-items: flex-start;"  size=10   noshade="noshade">
            <br>
            <br>
        </div>
        <div class="accordion">

            <!-- BOX 1 -->
            <div class="box a1">
                <div class="image_1">
                    <div class="text">
                        <h2>COMPUTACIÓN GRÁFICA</h2>
                        <p>
                            La computación gráfica es una de las áreas de la informática visual, donde se utilizan las computadoras para generar imágenes o gráficos sintéticamente para integrar o cambiar la información visual y espacial del mundo real. La computación gráfica se aplica en la creación de: motores gráficos, motores de videojuegos, modelamiento de objetos 2D y 3D, efectos especiales para películas, procesamiento de imágenes, procesamiento de video, visión por computadora, entre otros (Shirley, P., Ashikhmin, M., 2009).
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- BOX 2 -->
            <div class="box a2">
                <div class="image_2">
                    <div class="text">
                        <h2>FIGURAS GEOMÉTRICAS</h2>
                        <p>
                            Las figuras geométricas son superficies delimitadas por líneas (curvas o rectas) o espacios delimitados por superficies. En el primer caso, se está haciendo referencia a polígonos, círculos, circunferencias, elipses…; y, en el segundo caso, se está hablando de poliedros.
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- BOX 3 -->
            <div class="box a3">
                <div class="image_3">
                    <div class="text">
                        <h2>GEOMETRÍA APLICADA</h2>
                        <p>
                            En síntesis, una geometría pura es un sistema formal que no nos dice nada sobre la realidad física, mientras que una geometría aplicada es una teoría empírica, una teoría física que, desde la perspectiva que aquí se está explicando, resulta de dotar de significado a una geometría matemática.
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- BOX 1 -->
            <div class="box a4">
                <div class="image_4">
                    <div class="text">
                        <h2>OPEN GL</h2>
                        <p>
                            Se considera principalmente como una API que nos proporciona un gran conjunto de funciones que podemos usar para manipular gráficos e imágenes 3D y 2D. Sin embargo, por sí solo no es simplemente una API, sino una especificación, desarrollada y mantenida por el Grupo Khronos. También se usa para el desarrollo de videojuegos, donde compite con Direct3D en la plataforma de Microsoft.
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- BOX 5 -->
            <div class="box a5">
                <div class="image_5">
                    <div class="text">
                        <h2>DISEÑO INSTRUCCIONAL SPIRAL</h2>
                        <p>
                            El diseño instruccional (o diseño de sistemas instruccionales) combina el arte de crear experiencias de aprendizaje atractivas con la ciencia de cómo funciona el cerebro.
El modelo SPIRAL es un diseño iterativo, que consiste en desarrollar y perfeccionar progresivamente un diseño basado en la retroalimentación y la evaluación, el mismo que puede ser aplicado a una experiencia de aprendizaje, la innovación de medios o el desarrollo de sistemas de aprendizaje. 
                        </p>
                    </div>
                </div>
            </div>
    
        </div>    
    </div>
</section>
<!-- End Gallery Section -->