<div style="margin: 50px; ">
    <h1><strong>Computación Gráfica en C#</strong></h1>
    <!--<div class="Cbox" [ngStyle]="{'background-image': 'url( ./assets/images/home/CompGraf2.gif)'}"></div>-->
    <p style="text-align: center; position: relative; z-index: 100; background:#e2e2e2; height:100%; width:100%;"><span>{{pruebatitle}}&nbsp;</span></p>
    <div class="content-all">
        <div class="content-carrousel">
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF1" (click)="onClick($event)"><img id="MyRef1" src="./assets/images/home/Carousel/img1.jpg"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF2" (click)="onClick($event)"><img id="MyRef2" src="./assets/images/home/Carousel/img2.jpg"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF3" (click)="onClick($event)"><img id="MyRef3" src="./assets/images/home/Carousel/img3.jpg"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF4" (click)="onClick($event)"><img id="MyRef4" src="./assets/images/home/Carousel/img4.jpg"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF5" (click)="onClick($event)"><img id="MyRef5" style="width: 1005; height: 100%;" src="{{pruebaphoto}}"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF6" (click)="onClick($event)"><img id="MyRef6" src="./assets/images/home/Carousel/img6.jpg"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF7" (click)="onClick($event)"><img id="MyRef7" src="./assets/images/home/Carousel/img7.jpg"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF8" (click)="onClick($event)"><img id="MyRef8" style="width: 1005; height: 100%;" src="./assets/images/home/Carousel/CompGraf1.gif"></figure>
            <figure (mouseover)="over($event)" (mouseout)="out($event)" id="MyRefF9" (click)="onClick($event)"><img id="MyRef9" style="width: 1005; height: 100%;" src="./assets/images/home/Carousel/CompGraf2.gif"></figure>
        </div>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
    <p><span>"Cada logro comienza con la decisión de intentarlo..."</span></p>
    <p>-Gail Devers.</p>
    <a><img style="width: 100px; height: 40px;" src="./assets/images/home/cc.png"></a>
</div>