<section class="container">
    <div class="card-container">
        <div class="header">
            <a>
                <img src="{{pruebaphoto}}">
            </a>
            <h4>{{pruebanombre}}</h4>
            <h5>{{pruebaemail}}</h5>
        </div>
        <div class="descripcion">
            <p>Sólo existen dos días en el año en que no se puede hacer nada. Uno se llama ayer y otro mañana. Por lo tanto hoy es el dia ideal para amar, crecer, hacer y principalmente vivir.</p>
        </div>
    </div>
</section>