.chat-container{
    display:flex;flex-direction:column;
    align-items:center
}
.chat-btn{
    height:50px;
    width:50px;
    text-align:center;
    font-size:2rem;color:rgb(255, 255, 255);
    background-color:crimson;
    border:1px solid crimson;
    border-radius:25px 25px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    animation:shadow-pulse 1s infinite;
    display:block;
    z-index: 1;
}
    @keyframes shadow-pulse{
        0%{
            box-shadow:0 0 0 0 rgba(130,90,164,.5)
        }
        100%
        {
            box-shadow:0 0 0 20px rgba(130,90,164,0)
        }
    }
    
    .chat-body{
        height:auto;
        min-height:300px;
        min-width:300px;
        position:fixed;
        bottom:5px;
        right:5px;
        border:3px crimson;
        background-color:rgb(97, 97, 97);
        border-radius:14px;
        display:none;
        transition:block 1s ease-out;
        z-index: 1;
    }
    
    .chat-body 
    .chat-head{
        background:crimson;
        border:3px crimson;
        border-radius:14px;
        padding:10px;
        height:20px;
        color:rgba(255,255,255,1);
        font-family:verdana
    }
    
    .chat-body 
    .chat-head span{
        background:crimson;
        float:right;
        cursor:pointer;
        box-shadow:0 0 2px #fff;
        padding:1px 9px 3px 9px;
        top:-3px;
        position:relative;
        border-radius:20px;
        display:block;
        text-align:center
    }
    
    .chat-wrap{
        width:100%;
        padding:10px;
        height:100%;
        display:block
    }
    
    .chat-table{
        width:89%;
    }
    
    input[type='email'],
    input[type='text'],
    textarea{width:100%;padding:5px 5px;}
    textarea{height:150px;}
    .text-center{text-align:center;}
    .submit-bt{
        height:40px;
        width:70px;
        text-align:center;
        font-size:1rem;
        color:#fff;
        background-color:crimson;
        border:1px solid crimson;
        border-radius:25px 25px;
    }