<div class="container p-4">
    <div class="row">
        <div class="col-sm-8">
            <div *ngIf="currentQuiz < 3">
                <p class="text-center"> {{ currentQuiz + 1}} of {{ quizzes.length}}</p>
                <h5 class="text-center"><strong>{{ quizzes[currentQuiz].question}}</strong></h5>

                <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
                    <label>
                        <li class="list-group-item" appBackground [correctAnswer] = "quiz.correct">
                            <input type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
                            {{quiz.option}}</li>
                            <br>
                    </label>
                </ul>
            </div>
            <div *ngIf="currentQuiz > 2">
                <button class="btn btn-success btn-block" style="width:auto" (click)="showResult()">Show Result</button>
                <div class="text-center" *ngIf="result">
                    Correct Answer: {{ correctAnswers }} | Incorrect Answer: {{ incorrectAnswers }}
                </div>
            </div>
        </div>
    </div>
</div>